
/*
	dark grey : #4D4D4F;
	light grey: #A0A0A0;
	purple: #8089BF;
*/

* {
    box-sizing: border-box;
}

body {
  /* A0A0A0 */
	background-color: #103245;
	font-family: 'Playfair Display', serif;
	font-size: 80%;
	/*color: #4D4D4F;*/
}

/* text elements */

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 150%;
	margin: 0px;
	text-transform: uppercase;
	line-height: 1.25em;
	color: #4D4D4F;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 95%;
	margin: 0px;
	color: #A0A0A0;
	text-transform: uppercase;
	line-height: 1.25em;
}

em {
	font-family: 'Playfair Display SC', serif;
	font-style: normal;
    color: #8089BF
}

a {
	color: #8089BF;
	text-decoration: none;
}
.underlined {
	text-decoration: underline;
}

.main-container {
	background-color: white;
	margin-top: 50px;
	min-height: 200px;
	padding-bottom:40px;
	margin-bottom: 50px;
}

.title-container {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.title-container:hover {
  background-color: #C8C8C8;
}

.summary-container {
	margin-top: 30px;	
}

.line {
  border-bottom: 1px solid #A0A0A0;
}

img {
	max-width: 100%;
}

.project-text-container {
	margin-top: 20px;
	min-height: 100px;
}

.right {
	padding-left: 20px;
}

.left {
    padding-right: 20px;
}

.center {
    padding-left: 10px;
    padding-right: 10px;
}

.top-marg {
    margin-top: 20px;
}

.project-description {
	margin-top: 15px;
    margin-right: 15px;
	text-align: justify;
	text-justify: auto;
}

.project-description-right {
	margin-top: 15px;
    margin-left: 15px;
	text-align: justify;
	text-justify: auto;
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.video {
    margin-bottom: 10px;
    width: 100%;
}

.github-button {
    display: inline-block;  
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
    border-radius: 4px;
    border: 1px solid #8089BF;
}

.gray {
    background-color: #C8C8C8;
}

.darkGray {
    background-color: #646464;
}